/* Buttons */
.btn-primary button {
	background-color: rgb(0, 188, 212) !important; /* cyanA400 */
}

.btn-add-post {
	position: absolute;
    right: 15px;
    bottom: 15px;
}


/* Scrollbar */
::-webkit-scrollbar {
    background-color: rgb(38, 50, 56);
    width: 0.8rem;
}

::-webkit-scrollbar-thumb {
    background-clip: padding-box;
    background-color: rgba(255, 255, 255, 0.7);
    border: 0.3rem solid transparent;
}


/* Create/Edit Post */
.select-category,
.input-author {
	position: absolute !important;
	top: 0;
	right: 24px;
}

.select-category div div div, /* i.e. React/Redux/Udacity */
.input-author div div div {
	color: black !important;
}
