/* Buttons */
.btn-primary button {
	background-color: rgb(0, 188, 212) !important; /* cyanA400 */
}


/* Scrollbar */
::-webkit-scrollbar {
    background-color: rgb(38, 50, 56);
    width: 0.8rem;
}

::-webkit-scrollbar-thumb {
    background-clip: padding-box;
    background-color: rgba(255, 255, 255, 0.7);
    border: 0.3rem solid transparent;
}


/* Create/Edit Post/Comment */
.select-category div div div { /* i.e. React/Redux/Udacity */
	color: black !important;
}

@media screen and (min-width: 651px) {
	.select-category,
	.input-author-comment {
		position: absolute !important;
		top: 0;
		right: 24px;
	}

	.input-title-post,
	.input-author-post {
		width: 48% !important;
	}

	.input-title-post {
		margin-right: 2%;
	}

	.input-author-post {
		margin-left: 2%;
	}

	.order-by {
		float: right;
	}
}

@media screen and (max-width: 650px) {
	.select-category,
	.input-title-post,
	.input-author-post,
	.input-author-comment {
		width: 100% !important;
	}
}

