.post-list {
	background-color: white;
	border-radius: 4px;
}

.post-heading {
    padding-top: 15px;
    font-weight: 400;
    text-transform: capitalize;
}

.post-icons,
.comment-icons {
	float: right;
}

.post-icons {
	width: 30%;
}

.comment-icons {
	width: 25%;
}

.vote-score {
	margin-right: 15px;
}

.icon-mood {
	fill: #555 !important;
	cursor: pointer;
	vertical-align: middle;
}

.icon-mood:hover,
.icon-mood:focus {
	fill: #888 !important;
}

.icon-mood-good,
.icon-mood-bad {
	margin-right: 15px;
}

.avatar {
	background-color: rgb(158, 158, 158) !important;
}

.title-input {
	width: 50% !important;
}

.comment-subheader {
	border-top: 1px solid #eee;
	color: black !important;
	padding-left: 36px;
}
