.vote-score {
	cursor: initial;
	margin-right: 15px;
}

.icon-mood {
	fill: #555 !important;
	cursor: pointer;
	vertical-align: middle;
}

.icon-mood:hover,
.icon-mood:focus {
	fill: #888 !important;
}

.icon-mood-good {
	margin-right: 15px;
}
